# MISC
PyYAML==5.4

# ASYNC
uvloop==0.17.0

# HTTP
requests==2.22.0
aiohttp>=3.7.4

# SEARCH
fuzzywuzzy[speedup]==0.17.0

# API's
discord.py[voice]==2.0.1

# CHARTS
matplotlib>=3.1.1
pandas>=1.0.0
emoji==0.5.4

# TEXT FORMATTING
titlecase==0.12.0

# Discord.py DEBUG
jishaku==2.5.1

# TESTING
# tox==3.13.2

# DATABASE
asyncpg==0.21.0
# aiopg==1.0.0

# CACHE
# https://github.com/argaen/aiocache
ujson==5.2.0
msgpack==0.6.2
# aiocache[redis,memcached]==0.10.1
aiocache[redis,memcached]==0.11.1

# https://github.com/aio-libs
# aioredis==1.2.0
# aiomcache==0.6.0
